<h1> B O O K S </h1>

<ul class = "books" >
  <% @books.each do |book| %>
    <li class = "book">
      <h2><%= book.title %></h2>
      <dl>
        <dt> Book ID: <%= book.id %></dt>
        <dt> Book Author: <%= book.author %></dt>
        <dt> Book Already Read: <%= book.already_read %></dt>
      </dl>
    </li>
  <% end %>
</ul>
